<%include ../include/header.html%>
<form enctype="multipart/form-data" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="username" class="control-label col-sm-2">用户名</label>
        <div class="col-sm-10 input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-sm-2">密码</label>
        <div class="col-sm-10 input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-sm-2">邮箱</label>
        <div class="col-sm-10 input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="avatar" class="control-label col-sm-2">头像</label>
        <div class="col-sm-10 input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <div class="form-control" style="position:relative;">
                <input type="file" name="avatar" id="avatar" style="position:absolute;top:3px;opacity:0;z-index:999;cursor:pointer;" class="btn btn-primary btn-xs"  required>
                <button class="btn btn-primary btn-xs" style="position:absolute;top:5px;z-index:99;cursor:pointer;width:240px;">选择图片</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>
</form>
<%include ../include/footer.html%>